* {
    margin: 0px;
    padding: 0px;
}

body::before {
    content: " ";
    position: absolute;
    background: url(https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=448&q=80) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: white;
    /* border: 2px solid red; */
    /* background: url(https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=448&q=80) no-repeat center center fixed;  */
    background-size: cover;
    height: 500px;
    padding: 10%;
}

.container h1 {
    font-size: 3rem;
    text-decoration: underline aqua;
    margin: 5px 0px;
    padding: 10px 0px;
}

.box {
    margin: 5px 0px;
    padding: 15px 0px;
    width: 100%;
}

.box input {
    width: 75%;
    border-radius: 6px;
    outline: none;
    font-weight: bold;
    background: none;
    border-bottom: 2px solid aqua;
    text-align: center;
    color: white;
}

.btn {
    cursor: pointer;
    outline: none;
    background-color: white;
}

.btn:hover {
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 6px;
}