*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url('/img/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: white;   
    position: absolute;
    left: 40%;
    top: 30%;
}
.container h1{
    font-size: 3rem;
    text-decoration:underline aqua;
    margin: 5px 0px;
    padding: 10px 0px;
}
.box{
    margin: 5px 0px;
    padding: 15px 0px;
    width: 100%;
}
.box input{
    width: 75%;
    border-radius: 6px;
    outline: none;
    font-weight: bold;
    background: none;
    border-bottom: 2px solid aqua;
    text-align: center;
    color: white;
}
.btn{
    cursor: pointer;
    outline: none;
    background-color: white;
}
.btn:hover{
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 6px;
}